body {
  margin: 0; }

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: static;
  background-color: white; }

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff; }
  .navbar .container-navbar {
    display: flex;
    flex-direction: row;
    height: 4.5rem;
    width: 70%; }
    .navbar .container-navbar .navbar-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 7%; }
    .navbar .container-navbar .navbar-collapse {
      display: flex;
      width: 100%;
      justify-content: flex-end;
      align-items: center; }
      .navbar .container-navbar .navbar-collapse .navbar-item {
        display: flex; }
        .navbar .container-navbar .navbar-collapse .navbar-item li {
          padding: 8px 15px;
          border-radius: 3px;
          margin-right: 1px;
          font-size: 10.5px;
          font-weight: 100;
          color: gray;
          list-style: none;
          text-decoration: none;
          text-transform: uppercase; }
          .navbar .container-navbar .navbar-collapse .navbar-item li:hover {
            background-color: #ffc155;
            color: #ffffff; }
          .navbar .container-navbar .navbar-collapse .navbar-item li.active {
            background-color: #ffc155;
            color: #ffffff; }

.jumbotron {
  display: flex;
  flex-direction: column;
  justify-content: static;
  background-color: #709dca; }

.container-jumbotron {
  display: flex;
  flex-direction: column;
  height: 28.5rem;
  width: 100%; }

.jumbotron-title {
  display: block;
  margin: 3.5rem 0 1rem 0; }
  .jumbotron-title .display-4 {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 18pt;
    margin: 0;
    text-transform: uppercase; }
  .jumbotron-title p {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 12pt;
    margin-top: 0; }

.jumbotron-request {
  display: block; }
  .jumbotron-request form {
    display: flex;
    justify-content: center; }
    .jumbotron-request form .input-group {
      position: relative;
      padding-right: 0.5rem; }
      .jumbotron-request form .input-group input {
        display: block;
        border: none;
        outline: none;
        border-radius: 3px;
        height: 2.3rem;
        width: 11.5rem;
        padding: 0 0 0 2.6rem; }
      .jumbotron-request form .input-group .fas {
        position: absolute;
        color: gray;
        user-select: none;
        margin: 0.7rem; }
    .jumbotron-request form button {
      background-color: #ffc155;
      border: none;
      color: white;
      outline: none;
      font-size: 14px;
      text-transform: uppercase;
      border-radius: 3px;
      width: 10rem; }

.slider {
  display: flex;
  flex-direction: column;
  justify-content: static;
  background-color: white; }

.carousel {
  display: flex;
  flex-direction: column;
  height: 5rem;
  width: 100%;
  align-items: center; }

.carousel-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; }
  .carousel-inner .item {
    position: absolute;
    display: flex;
    height: 3rem;
    justify-content: center;
    bottom: 11rem; }
    .carousel-inner .item img {
      height: 17.5rem;
      width: 31.5rem; }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff; }

.container-service {
  display: flex;
  flex-direction: column;
  height: 37rem;
  width: 100%; }

.service-title {
  display: block;
  margin: 3.5rem 0 1rem 0; }
  .service-title .display-4 {
    display: flex;
    color: #3f3d3d;
    justify-content: center;
    font-size: 18pt;
    margin: 0;
    text-transform: uppercase; }
  .service-title p {
    display: flex;
    color: #3f3d3d;
    justify-content: center;
    font-size: 12pt;
    margin-top: 0; }

.service-2-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0 15% 1rem;
  flex-grow: 1; }
  .service-2-col .col-1 {
    display: block; }
    .service-2-col .col-1 .item-service {
      display: flex;
      height: 8.5rem; }
      .service-2-col .col-1 .item-service .icon {
        align-items: center;
        width: 7rem;
        height: auto; }
        .service-2-col .col-1 .item-service .icon img {
          height: 40px;
          width: 40px; }
      .service-2-col .col-1 .item-service .info {
        padding: 0 3rem 0 0.5rem; }
        .service-2-col .col-1 .item-service .info span {
          color: #555151;
          font-size: 13px;
          font-weight: 900;
          text-transform: uppercase; }
        .service-2-col .col-1 .item-service .info p {
          color: gray;
          margin-bottom: 0;
          font-weight: 100; }
  .service-2-col .col-2 {
    display: block; }
    .service-2-col .col-2 .item-service {
      display: flex;
      height: 8.5rem; }
      .service-2-col .col-2 .item-service .icon {
        align-items: center;
        width: 7rem;
        height: auto; }
        .service-2-col .col-2 .item-service .icon img {
          height: 40px;
          width: 40px; }
      .service-2-col .col-2 .item-service .info {
        padding: 0 3rem 0 0.5rem; }
        .service-2-col .col-2 .item-service .info span {
          color: #555151;
          font-size: 13px;
          font-weight: 900;
          text-transform: uppercase; }
        .service-2-col .col-2 .item-service .info p {
          color: gray;
          margin-bottom: 0;
          font-weight: 100; }

.about-us {
  display: flex;
  flex-direction: row;
  justify-content: static;
  background-color: #ffc155;
  height: 30rem;
  flex-grow: 1; }

.about-image {
  display: block; }
  .about-image img {
    height: 30rem; }

.about-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 14% 0 4rem; }
  .about-content span {
    color: white;
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase; }
  .about-content p {
    color: white;
    font-size: 13px; }
  .about-content button {
    background: none;
    border: none;
    border: 1px solid #e9990e54;
    border-radius: 2px;
    color: white;
    outline: none;
    padding: 8px 15px;
    text-transform: uppercase;
    width: 8rem; }

/*# sourceMappingURL=style.css.map */
