$bg: #ffffff;
$bg-banner-hover: #709dca;
$bg-about-us: #ffc155;
$bg-choose-price: #e7edf3;

//  --format : định dạng thẻ chính
@mixin format($flex-direction,$justify-content,$bg-color) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    background-color: $bg-color;
}
//  --container : định dạng component cha trong thẻ chính
@mixin container($flex-direction,$height, $width) {
    display: flex;
    flex-direction: $flex-direction;
    // align-items: center;
    height: $height;
    width: $width;  
}
//  --title: định dạng tiêu đề
@mixin title($color) {
    display: block;
    margin: 3.5rem 0 1rem 0;
    .display-4{
        display: flex;
        color: $color;
        justify-content: center;
        font-size: 18pt;
        margin: 0;
        text-transform: uppercase;
    }
    p{
        display: flex;
        color: $color;
        justify-content: center;
        font-size: 12pt;
        margin-top: 0;
    }
}
body{
    margin: 0;
}
.wrapper{
    @include format(column, static, white)
}
//  start header
.navbar{
    @include format(row, center, #ffffff);
    .container-navbar{
        @include container( row, 4.5rem, 70%);
        .navbar-header{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 7%;
        }
        .navbar-collapse{   
            display: flex;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            
            .navbar-item{
                display: flex;
                           
                li{
                    padding: 8px 15px;
                    border-radius: 3px;
                    margin-right: 1px;
                    font-size: 10.5px;
                    font-weight: 100;
                    color: gray;
                    list-style: none;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:hover {
                        background-color: $bg-about-us;
                        color: $bg;
                    }
                    &.active{
                        background-color: $bg-about-us;
                        color: $bg;
                    }
                } 
            }
        }
    }
}   
//  end header

//-------------------------------------------------------------

// --start  jumbotron
.jumbotron{
    @include format(column, static, #709dca);
}
.container-jumbotron{
   @include container(column, 28.5rem, 100%);  
}
.jumbotron-title{
    @include title(white);
}
.jumbotron-request{
    display: block;
    form{
        display: flex;
        justify-content: center;
        .input-group{
            position: relative;
            padding-right: 0.5rem;
            input{
                display: block;
                border: none;
                outline: none;
                border-radius: 3px;
                height: 2.3rem;
                width: 11.5rem;
                padding: 0 0 0 2.6rem ; 
                
            }
            // label{
            //     position: absolute;
            //     font-weight: 100;
            //     color: gray;
            //     left: 2.5rem;
            //     top: 1rem;
            //     pointer-events: none;
            // }
            .fas{
                position: absolute;
                color: gray;
                user-select: none;
                margin: 0.7rem;
            }
        }
        button{
            background-color: $bg-about-us;
            border: none;
            color: white;
            outline: none;
            font-size: 14px;
            text-transform: uppercase;
            border-radius: 3px;
            width: 10rem;
        }
    }
}
.slider{
    @include format(column, static, white);
}
.carousel{
    @include container(column, 5rem, 100%);
    align-items: center;
}  
.carousel-inner{ 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; 
    
    .item{
        position: absolute;
        display: flex;
        height: 3rem;
        justify-content: center; 
        bottom: 11rem;
        img{
            height: 17.5rem;
            width: 31.5rem;
        }
    }
}
// --end jumbotron

//--------------------------------------------------------------

// -- start container
@mixin col-service {
    display: block;
    .item-service{
        display: flex;
        height: 8.5rem;
        
        .icon{
            align-items: center;
            width: 7rem;
            height: auto;
            img{
                height: 40px;
                width: 40px;
            }
        }
        .info{
            padding: 0 3rem 0 0.5rem;
            span{
                color: rgb(85, 81, 81);
                font-size: 13px;
                font-weight: 900;
                text-transform: uppercase;
            }
            p{
                color: gray;
                margin-bottom: 0; 
                font-weight: 100;

            }
        }
    }
}
.container{
    @include format(column, center, $bg); 
}
.container-service{
    @include container(column, 37rem, 100%);
}
// title
.service-title{
    @include title(rgb(63, 61, 61));
}
// service-2-col
.service-2-col{
    @include format(row, space-between, $bg);
    margin: 0 15% 1rem;
    flex-grow: 1;
    .col-1{
        @include col-service();
    }
    .col-2{
        @include col-service();
    }
}
// --end container

//-----------------------------------------------------------
// -- start about us
.about-us{
    @include format(row, static, $bg-about-us);
    height: 30rem;
    flex-grow: 1;
}
.about-image{
    display: block;
    img{
        height: 30rem;
    }
}
.about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 14% 0 4rem;
    span{
        color: white;
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;
    }
    p{
        color: white;
        font-size: 13px;
    }
    button{
        background: none;
        border: none;
        border: 1px solid #e9990e54;
        border-radius: 2px;
        color: white;
        outline: none;
        padding: 8px 15px;
        text-transform: uppercase;
        width: 8rem;
    }
}